*, 
::after, 
::before {
    box-sizing: border-box;
}

body {
    background-image: url('./../img/mountains.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;    
}

.container {
    max-width: 600px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.header {
    margin-bottom: 50px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__img {
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 3px solid rgb(189, 51, 182);
  background-color: white;
}


.header__heading {
    text-align: center;
    color: rgb(184, 180, 187);
    font-family: serif;
    
}

.comments__list {
  position: relative;
    width: 100%;
    height: auto; 
    overflow: auto;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 2px;
    max-height: 400px;

}

.comments__item {
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;  
    margin-bottom: 10px;  
}

.comments__item-user-name {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    margin-block: 5px;
    font-size: 12px;
}

.comments__item-message {
    max-width: 300px;
    color: rgb(44, 44, 56);
    margin-block: 5px;
    font-family: sans-serif;
}

.comments__item-time {
    color: dimgray;
    font-size: 10px;
    text-align: right;
    font-family: sans-serif;
}


.own {
    margin-left: auto;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(100, 78, 78); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 5px rgb(56, 47, 47); 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(151, 142, 142); 
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5a5454; 
  } 

  .form {
    width: 100%;
    display: flex;
    gap: 0px;
  }

  .input__input {
    width: 80%;
    height: 30px;
    margin: 0px;
    outline: none;
    border: none;
    background-color: white;
    text-indent: 10px;

  }

  .input_btn{
    display: inline-block;
    width: 20%;
    margin: 0px;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgb(219, 215, 215);
    cursor: pointer;
  }
